:root {
  --main-gray: #777;
  --light-gray: #ccc;
  --main-white: #fff;
  --main-red: rgb(255, 69, 0);
  --black-o: rgba(0, 0, 0, 0.6);
  --light-black: #616161;
  --transition: 0.2s all ease-in;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: #777;
}
a:hover {
  text-decoration: none;
}
figure {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

.btn {
  padding: 10px 20px;
  color: var(--main-gray);
  font-size: 1rem;
  display: inline-block;
}
.btn:hover {
  background-color: var(--light-gray);
  color: black;
}
button.btn {
  border: none;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
.hero {
  height: 60vh;
  min-height: 400px;
}
.title {
  display: inline-block;
  letter-spacing: 10px;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  width: fit-content;
  margin: 0 auto;
}

.grid-system {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(20vw - 20px), 1fr));
  gap: 20px;
}
/* utilities */
.img-opacity-eff:hover {
  filter: opacity(60%);
}
.reverse-opacity-eff {
  opacity: 0.6;
  transition: var(--transition);
}
.reverse-opacity-eff:hover {
  opacity: 1;
}
.d-grid {
  display: grid !important;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}
.bg-black {
  background-color: #000;
}
.bg-black-o {
  background-color: var(--black-o);
}
.white-bg {
  background-color: #fff;
}
.bg-main-gray {
  background-color: var(--main-gray);
}
.bg-light-gray {
  background-color: var(--light-gray);
}
.color-black-o {
  color: var(--black-o);
}
.color-black {
  color: #000;
}

.color-white {
  color: white;
}
.float-right {
  float: right;
}
.display-block {
  display: block;
}
.m-auto {
  margin: 0 auto;
  display: block;
}
.mr-5 {
  margin-right: 5px;
}
.m-20 {
  margin: 20px 0;
}
.align-center {
  align-self: center;
}
.font-bold {
  font-weight: bold;
}
.img-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.padding-14 {
  padding: 14px;
}
.padding-left {
  padding-left: 40px;
}
.full-img {
  width: 100%;
  height: 100%;
}
.clickable {
  cursor: pointer;
}
/* nav start here */
nav {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  z-index: 100;
  background-color: transparent;
}
nav .nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .search.btn:hover {
  background-color: var(--main-red);
  color: var(--main-white);
  cursor: pointer;
}
/* nav end here */
/* banner start here */
header .hero {
  background-image: url("../images/bg/parallax1.jpg");
}
/* main start here*/
main section {
  padding: 70px 0;
  font-size: 1.1rem;
}
main section h2 {
  font-size: 1.7rem;
}
main section h3 {
  font-size: 0.9rem;
}
main .hero .title {
  font-size: 2rem;
}

/* about me start here*/
#about {
  padding-bottom: 0;
}
#about .details,
.achieved {
  display: flex;
  justify-content: space-between;
}
#about .details > *,
.achieved > * {
  flex-grow: 1;
  flex-basis: 0;
}
/* Progress and what I can do */
#about .details figure figcaption {
  margin-bottom: 40px;
}
#about .good-at {
  padding-bottom: 40px;
}
#about .good-at .things .thing > p {
  font-size: 1.2rem;
  letter-spacing: 7px;
}

#about .good-at .things .thing:nth-of-type(1) .progress .percentage {
  width: 90%;
}
#about .good-at .things .thing:nth-of-type(2) .progress .percentage {
  width: 85%;
}
#about .good-at .things .thing:nth-of-type(3) .progress .percentage {
  width: 75%;
}

/* achieved */
.achieved {
  padding: 30px 0;
  font-size: 1.3rem;
}
/* about me end here*/
/* portfolio start here */
#portfolio {
  padding-top: 0;
}
#portfolio .hero {
  background-image: url("../images/bg/parallax2.jpg");
}
#portfolio .gallary img {
  width: 100%;
}
#portfolio .gallary img:hover {
  filter: opacity(60%);
}
.photo {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
.photo .btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
}
.photo .btn:hover {
  color: black;
  background-color: var(--main-gray);
}
.photo figure {
  width: 28%;
  margin: auto;
}
.photo figure img {
  width: 100%;
}
.photo figure figcaption {
  font-size: 1.3rem;
  margin-top: 25px;
}
/* contact start here */
#contact {
  padding-top: 0;
}
#contact .hero {
  position: relative;
}
#contact .hero::before {
  content: "";
  position: absolute;
  background-image: url("../images/bg/parallax3.jpg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* https://css-tricks.com/snippets/css/transparent-background-images/ */
}

/* contact end here */
#contact .contact-details section {
  grid-template-columns: 200px 300px auto;
  gap: 20px;
}
#contact .contact-details section figure {
  grid-column: 2;
}
#contact .contact-details section figure img {
  width: 100%;
  align-self: stretch;
  border-radius: 5px;
}
#contact .contact-details section .info p:nth-child(-n + 3) {
  font-size: 1.3rem;
}
#contact .contact-details section .info p a {
  color: inherit;
  text-decoration: underline;
}
#contact .contact-details section .info p a:hover {
  font-weight: bold;
}
#contact .contact-details section .info p i:hover {
  color: black;
}
#contact .contact-details section .info .send {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 8px;
}
#contact .contact-details section .info .send input {
  padding: 8px 16px;
}
#contact .contact-details section .info .send input:last-of-type {
  grid-row-start: 2;
  grid-column: 1/3;
}
#contact .contact-details section .info .send button.btn {
  grid-row-start: 3;
  grid-column: 2/2;
  justify-self: end;
  padding: 10px 18px;
  margin-top: 5px;
}
/* footer */
footer {
  background-color: var(--main-gray);
  padding: 50px 0;
}
footer:hover {
  background-color: #000;
}
footer .btn {
  width: fit-content;
  margin: 20px auto;
  background-color: white;
  color: var(--main-gray);
}
footer:hover .btn {
  color: black;
}
footer ul {
  padding: 0;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
footer ul i {
  font-size: 30px;
  margin-right: 10px;
}
footer ul i:hover {
  color: var(--main-gray);
}
footer p {
  margin-bottom: 10px;
}
footer p:last-of-type {
  margin-bottom: 0;
}
footer p a {
  text-decoration: underline;
  color: white;
}
footer p a:hover {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}
/* animations */
.animate-from-top {
  animation: from-top 0.4s;
}
@keyframes from-top {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
